

.flex-container {

  height: 600px;
  align-content: flex-start;
  background: rgba(red, green, blue, alpha);

  /* background-color: black; */
  color: black;
  /* font-family: "Courier New", Courier, monospace; */
}
.clear {
  background-color: transparent;
}

.card {
  background-color: transparent;
  text-shadow: 2px 2px 4px LightGrey;



}
#introText{
  height: 3em;
  z-index: 2;
  color: black;
}

/* .card-body {
  flex-direction: column;
} */

h1 {
  padding-top: 1%;
  padding-left: 5%;
  text-shadow: 2px 2px 4px LightGrey;

}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  background-image: url("Photos/allHeroes2jpg.jpg");
  background-repeat: no-repeat;
  /* background-position: right top; */
  background-attachment: fixed;
}

/* unvisited link */
a:link {
  color: red;
  text-shadow: none;
}

/* visited link */
a:visited {
  color: green;
  text-shadow: none;
}

/* mouse over link */
a:hover {
  color: hotpink;
  text-shadow: none;
}

/* selected link */
a:active {
  color: blue;
  text-shadow: none;
}



  /* css for the side bar */
  /* The side navigation menu */
  /* The side navigation menu */
  #openNav{
    color: white;
    font-size: 17px;
    background-color: red;
    /* border-radius: 25px; */
    border: 2px solid red;
    margin-top: 40px;
    margin: 25px;
    padding: 10px;
    margin-top: 40px;

  }
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    opacity: .75;

  }

  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: red;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
