.banner {
  height:18em;
  background-image:url("Photos/marvelmovielogo.png");
  background-position: center;
  background-repeat: no-repeat;
}

#videoTrailers {
    display: flex;
    flex-wrap: wrap;
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
    list-style-type: none;
    justify-content: center;
}


h3{
  padding-top:.5em;
  padding-bottom: .5em;
  text-align: center;
}

.li-class {
    width:30%;
    padding-left:1em;
}

img {
    width:100%;
    height:100;
    transition: all .2s ease-in-out;
}

img:hover {
    transform: scale(1.1)
}

.video-player {
    display:flex;
    justify-content: center;
    background-color:rgb(80, 80, 80);
    margin-top:1em;
    margin-bottom:1em;
    border-bottom:2px solid black;
    border-top:2px solid black;
}

.video-player p {
    color:white;
    font-size:1.5em;
    padding-right:2em;
    width:40%;
    line-height: 2em;
    margin-top:4em;
}

.video-player a {
    color:white;
}

#trailerBox {
    transition: height 1s, width 1s, padding 1s, visibility 1s, opacity 0.5s ease-out;
}

.load-more {
    display:flex;
    justify-content: center;
    padding-bottom:2em;
}

.load-more button {
    width:100%;
    background-color:rgb(185, 4, 4);
    height:3em;
    font-size:1.2em;
    font-weight:bolder;
    transition: all .2s ease-in-out;
}

.load-more button:hover{
    transform: scale(1.05)
}
/* css for the side bar */
/* The side navigation menu */
/* The side navigation menu */
#openNav{
  color: rgb(235, 235, 235);
  text-align: center;
  font-size: 2em;
  margin-top:1em;
  background-color: rgb(184, 27, 27);
  border: 2px solid rgb(0, 0, 0);
  width:4em;
  height:3.5em;
  line-height:3em;
  cursor: pointer;
  position:fixed;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */


}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
